.todo{
    width: 20%;
    box-sizing: border-box; /*prevents word wrap */
    background-color: lightblue;
    padding: .25em;
    border-radius: .75em;
    margin: 1em;
}

.todo h3{
    margin: 0px;
    text-align: center;
}

.todo p{
    margin: 0px;
}

.completed{
    opacity: 50%;
    background-color: lightgreen;
}