.todo{
    width: 20%;
    box-sizing: border-box; /*prevents word wrap */
    background-color: lightblue;
    padding: .25em;
    border-radius: .75em;
    margin: 1em;
    cursor: pointer;
}

.todo h3{
    margin: 0px;
    text-align: center;
}

.todo p{
    margin: 0px;
    text-align: center;
}

.completed{
    opacity: 50%;
    background-color: lightgreen;
    text-decoration: line-through;
}

#complete-items{
    border: .2em solid blue;
    margin-bottom: 1em;
    box-sizing: border-box;
    width: 50%;
}

#incomplete-items{
    border: .1em solid black;
    margin-bottom: 1em;
    box-sizing: border-box;
    width: 50%;
}

#complete-items,
#incomplete-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#all-items{
    display: flex;
}